.container-header {
    border-bottom: solid 2px #c9c9c9c9;
}

.container-itens {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.nav {
    display: flex;
    gap: 30px;
    align-items: center;
}


.logo {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span {
    color: #e21;
}



.nav-itens a {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}


.nav-itens a:hover {
    color: #e21;
}

.botoes-direito {
    display: flex;
}



.botoes-direito button {
    background: none;
    border: none;
    padding: 0 10px;
    color: #e21;
}

.botoes-direito button {
    cursor: pointer;
}

.botoes-direito :nth-child(2) {
    display: none;
}


.nav-itens {
    display: flex;
    gap: 30px;
}







@media(max-width:800px) {
    .botoes-direito :nth-child(n) {
        display: block;
        padding: 5px;
    }

    .nav-itens {
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        text-align: end;
        flex-direction: column;
        padding-right: 25px;
        width: 100%;
        height: 0;
        background: #ffffff;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        transition: .6s;
    }

    .nav-itens li {
        margin-bottom: 20px;
    }


    .nav-itens li a{
        border-bottom: 1px solid #e21;
    }


    .nav-itens.ativo {
        visibility: visible;
        height: calc(100vw - 70px);
        overflow-y: auto;
    }
}